/myenv

requirements.txt
12-Pandas/Data
13-Machine_Learning/data
14-Data Visualization/data
11-Numpy/data
15-Data Visualization/data
15-Data Visualization/images
15-Data Visualization/.ipynb_checkpoints